.filter {
    margin-bottom: 2vw;
    padding-top: 3vw;
}

.applied-filters ul {
    list-style: none;
    padding: 0;
}
.applied-filters li {
    margin-bottom: 5px;
}
.gallery ul {
    list-style: none;
    padding: 0;
}
.gallery li {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.gallery li img {
    max-width: 100%;
    height: auto;
}
.pagination {
    margin-top: 20px;
}
.pagination-info {
    margin-bottom: 10px;
}

.select2-container .select2-selection--multiple {
    min-height: 38px;
    max-height: 100px;
    overflow-y: auto;
}

.container {
    padding: 0;
}

.grid-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.card img {
    max-width: 100%;
    height: auto;
}

.custom-select-width {
    width: 100%;
}

.form-group {
    margin-bottom: 10px;
}
