.filter {
    margin-bottom: 2vw;
    color: #b9c8cb;
}

.filter h3{
    font-size: 1.3vw;
}

.applied-filters ul {
    list-style: none;
    padding: 0;
}
.applied-filters li {
    margin-bottom: 5px;
}
.gallery ul {
    list-style: none;
    padding: 0;
}
.gallery li {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.gallery li img {
    max-width: 100%;
    height: auto;
}
.pagination {
    margin-top: 20px;
}
.pagination-info {
    margin-bottom: 10px;
}

.select2-container .select2-selection--multiple {
    min-height: 38px;
    max-height: 100px;
    overflow-y: auto;
    color: #1a373a;
}

.container {
    padding: 0;
}

.grid-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.card {
    border: 1px solid #d1d8d9;
    border-radius: 5px;
    background-color: #d1d8d9;
    color: black;
}

.card-title a{
    color: black;
}

.card-text {
    margin-bottom: 0 !important;
}

.card img {
    max-width: 100%;
    height: auto;
}

.custom-select-width {
    width: 100%;
}

.form-group {
    margin-bottom: 10px;
}

.form-control {
    color: #1a373a;
}

#searchTerm:focus {
    outline: 4px solid #486293;
}

.btn-primary,
.btn-primary.active,
.btn-primary:active,
.btn-primary:focus,
.btn-primary.focus {
    background-color: #23324f !important;
    border-color: #23324f !important;
}

.btn-primary:hover {
    background-color: #394e77 !important;
    border-color: #394e77 !important;
}

.filter-container {
    margin-top: 0;
    padding-top: 0;
}

#filterForm div.col-md-4,
#filterForm div.form-group.col-md-2 {
    margin-top: 0; !important;
    margin-right: -0.5vw !important;
    padding-right: 0 !important;
}

.pagination .page-item .page-link {
    color: #23324f;
}
.pagination .page-item.active .page-link {
    background-color: #23324f;
    color: #ffffff;
    border-color: #23324f;
}


@media all and (max-width: 768px) {
    .search{
        margin-top: 15vw;
    }

    div.form-group.col-md-6 {
        margin-top: 0 !important;
    }
    #filterForm.div.form-group.col-md-4.col-sm-6 {
        width: 20% !important;
    }
}

@media all and (max-width: 576px) {
    .search {
        margin-top: 18vw;
        margin-left: 3vw;
    }
    .card {
        margin-left: 3.3vw;
    }

    .filters {
        width: 101% !important;
    }

    #filterForm {
        margin-left: 3.1vw;
    }
}
