.gallery-container {
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gallery-header h1 {
    font-family: 'Lora', serif;
    margin-top: 6vw;
    font-size: 6vw;
    color: #b9c8cb;
    cursor: default;
    text-align: center;
}

.gallery-header p {
    margin-top: 0;
    font-size: 2vw;
    color: #b9c8cb;
    cursor: default;
    text-align: center;
}

.gallery-button {
    min-width: 30%;
}

.gallery-input {
    height: 58px;
    width: 70% !important;
}

/*.gallery-index ul {*/
/*    max-width: 600px;*/
/*}*/

/*.gallery-index ul li {*/
/*    width: 35vw;*/
/*    display: block;*/
/*    margin: 1vw auto auto;*/
/*}*/

.gallery-index ul li a {
    background-color: #1c3b3e;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.5s;
}

.gallery-index ul li a:hover {
    background-color: #2b5b60;
    color: white;
}

/*.gallery-input {*/
/*    padding: 1vw;*/
/*    width: calc(100% - 6vw);*/
/*    border: 0.1vw solid #ccc;*/
/*    border-radius: 0.3vw;*/
/*    margin-right: 0.2vw;*/
/*    background-color: #b9c8cb;*/
/*    color: black;*/
/*}*/

/*.gallery-input::placeholder {*/
/*    color: #404646;*/
/*}*/

/*.gallery-button {*/
/*    display: block;*/
/*    padding: 1vw 2vw;*/
/*    text-decoration: none;*/
/*    border-radius: 5px;*/
/*    background-color: #23324f;*/
/*    color: #ffffff;*/
/*    border: none;*/
/*    cursor: pointer;*/
/*    transition: background-color 0.5s;*/
/*    font-size: 1vw;*/
/*    margin-left: 0.5vw;*/
/*}*/

/*.gallery-button:hover {*/
/*    background-color: #394e77;*/
/*}*/

@media all and (max-width: 768px) {
    .gallery-container {
        padding-bottom: 45vw;
    }

    .gallery-header h1 {
        padding-top: 12vw;
    }

    .gallery-header p {
        font-size: 5vw;
    }

    /*.gallery-index {*/
    /*    margin-left: 0;*/
    /*}*/

    /*.gallery-index ul {*/
    /*    height: 50vw;*/
    /*    padding-left: 3vw;*/
    /*    padding-bottom: 6vw;*/
    /*}*/

    /*.gallery-index li {*/
    /*    min-width: 70vw;*/
    /*    min-height: 15vw;*/
    /*}*/

    /*.gallery-index ul li a {*/
    /*    width: 70vw;*/
    /*    min-height: 13vw;*/
    /*    font-size: 4vw;*/
    /*    padding-top: 4vw;*/
    /*    border-radius: 5vw;*/
    /*}*/

    /*.gallery-input::placeholder {*/
    /*    color: #404646;*/
    /*    font-size: 4vw;*/
    /*    border-radius: 3vw;*/
    /*    padding-left: 2vw;*/
    /*}*/

    /*.gallery-input {*/
    /*    width: calc(100% - 22vw);*/
    /*    padding: 3vw 1vw 1vw;*/
    /*    height: 13vw;*/
    /*    border-radius: 4vw;*/
    /*    margin-right: 1vw;*/
    /*}*/

    /*.gallery-button {*/
    /*    width: 70vw;*/
    /*    min-height: 13vw;*/
    /*    font-size: 4vw;*/
    /*    padding-top: 4vw;*/
    /*    border-radius: 5vw;*/

    /*}*/

    /*.gallery-footer {*/
    /*    font-size: 3vw;*/
    /*}*/
}

@media all and (max-width: 500px) {
    .gallery-header h1 {
        padding-top: 20vw;
        font-size: 11vw;
    }

    .gallery-header p {
        font-size: 5vw;
    }

    .gallery-container {
        padding-bottom: 65vw;
    }

    /*.gallery-input {*/
    /*    width: calc(100% - 22vw);*/
    /*    padding: 2vw 1vw 1vw;*/
    /*}*/

    /*.gallery-index ul {*/
    /*    margin-left: -3vw;*/
    /*    margin-bottom: 8vw;*/
    /*}*/

    /*.gallery-button {*/
    /*    font-size: 4vw;*/
    /*    padding: 4.1vw 4vw;*/
    /*    border-radius: 4vw;*/
    /*}*/
}
