.image-container {
    height: 75vh;
    width: 100vw;
    margin-left: -13vw;
}

.artwork-image {
    cursor: pointer;
    max-width: 100%;
    max-height: calc(100vh - 12vw);
}

.container-fluid {
    padding: 0;
}
.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.custom-width {
    width: 33.33%;
}

.artwork-info {
    background-color: #1a373a;
}

.artwork-info a {
    color: #947a94;
}

.artwork-info h1 {
    font-size: 2vw;
}