{% extends 'base.twig' %}

{% block title %}
    Internetowa Galeria Sztuki - O Nas
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center">
        <div class="container-about-us rounded" style="max-width: 80vw; min-height: 77vh">
            <h1 class="text-header-1 ml-5 m-0 mb-4 mt-4">O nas</h1>
            <h2 class="ml-3">Nasza misja</h2>
            <p class="mb-5">Naszą misją jest zapewnienie dostępu do sztuki wszystkim, niezależnie od rodzaju trudności lub niepełnosprawności użytkowników serwisu. Wierzymy, że każdy powinien mieć możliwość eksplorowania dzieł, dlatego stworzyliśmy Internetową Galerię Sztuki.</p>

            <h2 class="ml-3">Co oferujemy</h2>
            <p class="mb-0">Oferujemy:</p>
            <ul class="mb-5 pl-4">
                <li>bogatą kolekcję dzieł sztuki wielu artystów,</li>
                <li>możliwość przeszukiwania bazy dzieł,</li>
                <li>możliwość filtrowania dzieł,</li>
                <li>wyczerpujący tekst alternatywny dla każdego z obrazów,</li>
                <li>dostępność serwisu dla czytników ekranu,</li>
                <li>łatwą i przyjemną nawigację po stronie.</li>
            </ul>

            <div class="collection-info mb-4">
                <h2 class="ml-3 mb-3">Nasza kolekcja</h2>
                <div class="row ml-0">
                    <div class="col-lg-4 col-md-12 mb-3 px-1">
                        <div class="card d-flex flex-column ml-0 h-100">
                            <div class="card-body">
                                <h5 class="card-title text-dark">Dzieła</h5>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item d-flex justify-content-between align-items-center">Ilość: {{ totalArtworks }}<a href="artworks.php" class="btn btn-about-us">Przeglądaj dzieła</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 mb-3 px-1">
                        <div class="card d-flex flex-column ml-0 h-100 w-100">
                            <div class="card-body">
                                <h5 class="card-title text-dark">Artyści</h5>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Ilość: {{ totalArtists }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 mb-3 px-1">
                        <div class="card d-flex flex-column ml-0 h-100">
                            <div class="card-body">
                                <h5 class="card-title text-dark">Gatunki</h5>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Ilość: {{ totalGenres }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
