{% extends 'base.twig' %}

{% block title %}
    Internetowa Galeria Sztuki - O Serwisie
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center">
        <div class="container-about-us p-4 rounded" style="width: 100vw; max-width: 80vw; min-height: 77vh">
            <h1 class="text-header-1 ml-5 m-0 mb-4">O serwisie</h1>
            <p>
                Autorem niniejszego serwisu jest Faustyna Hamowska.
            </p>
            <p>
                Serwis ten stanowi integralną część pracy licencjackiej (kierunek: elektroniczne
                przetwarzanie informacji), przygotowanej pod kierunkiem [podać: tytuł, imię i
                nazwisko swojego promotora] na Wydziale Zarządzania i Komunikacji Społecznej
                Uniwersytetu Jagiellońskiego.
            </p>
        </div>
    </div>
{% endblock %}
