{% extends 'base.twig' %}

{% block title %}
    O nas
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center">
        <div class="container-about-us rounded" style="max-width: 80vw; min-height: 77vh">
            <h1 class="text-header-1 ml-5 m-0 mb-4 mt-4">O nas</h1>
            <h2 class="ml-3">Nasza misja</h2>
            <p class="mb-5">Mauris egestas nisi lacinia, luctus leo eu, iaculis neque. Fusce vitae luctus nibh, a fermentum metus. Aenean sed dui at lorem tempus molestie a vel nisi. Nullam hendrerit pellentesque efficitur.</p>

            <h2 class="ml-3">Co oferujemy</h2>
            <p class="mb-0">Mauris egestas nisi lacinia:</p>
            <ul class="mb-5">
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                <li>Ut felis, tincidunt iaculis nisi gravida vel</li>
                <li>Sed facilisis tincidunt justo et venenatis.</li>
                <li>Ut felis, ipsum dolor sit amet</li>
            </ul>

            <div class="collection-info mb-4">
                <h2 class="ml-3 mb-3">Nasza kolekcja</h2>
                <div class="row ml-0">
                    <div class="col-lg-4 col-md-12 mb-3 px-1">
                        <div class="card d-flex flex-column ml-0 h-100">
                            <div class="card-body">
                                <h5 class="card-title text-dark">Dzieła</h5>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item d-flex justify-content-between align-items-center">Ilość: {{ totalArtworks }}<a href="gallery.php" class="btn btn-about-us">Przeglądaj dzieła</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 mb-3 px-1">
                        <div class="card d-flex flex-column ml-0 h-100 w-100">
                            <div class="card-body">
                                <h5 class="card-title text-dark">Artyści</h5>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Ilość: {{ totalArtists }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 mb-3 px-1">
                        <div class="card d-flex flex-column ml-0 h-100">
                            <div class="card-body">
                                <h5 class="card-title text-dark">Gatunki</h5>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Ilość: {{ totalGenres }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
