{% extends 'base.twig' %}

{% block title %}
    Internetowa Galeria Sztuki - O Serwisie
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center">
        <div class="container-about-us rounded mt-5">
            <div class="mx-0">
                <div class="breadcrumb my-breadcrumb pt-3 px-0">
                    <a class="my-a me-3 mr-3 text-white" href="/~21_hamowska/licencjat">Strona główna</a> > <div class="ml-3 text-white">O serwisie</div>
                </div>
                <h1 class="text-header-1 ml-5 m-0 mb-4 mt-4">O serwisie</h1>
            </div>
            <p>
                Autorem niniejszego serwisu jest Faustyna Hamowska.
            </p>
            <p>
                Serwis ten stanowi integralną część pracy licencjackiej (kierunek: elektroniczne
                przetwarzanie informacji), przygotowanej pod kierunkiem [podać: tytuł, imię i
                nazwisko swojego promotora] na Wydziale Zarządzania i Komunikacji Społecznej
                Uniwersytetu Jagiellońskiego.
            </p>
        </div>
    </div>
{% endblock %}
