{% extends 'admin_base.twig' %}

{% block title %}
    Add Genre
{% endblock %}

{% block content %}
    <div class="container container-edit">
        <h1 class="mb-3 mt-5 pt-4 ml-3">Dodaj kategorię</h1>
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}
        <form action="add_genre.php" method="post">
            <div class="form-group">
                <label for="name">Nazwa:</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <button type="submit" class="btn btn-primary">Utwórz</button>
        </form>
    </div>
{% endblock %}
