{% extends 'base.twig' %}

{% block title %}
    Kontakt
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center">
        <div class="container-about-us p-4 rounded" style="width: 100vw; max-width: 80vw; min-height: 77vh">
            <h1 class="text-header-1 ml-5 m-0 mb-5">Kontakt</h1>
            <h2 class="mb-2 ml-3">Skontaktuj się z nami</h2>
            <p>
                Jesteśmy tu, aby Ci pomóc! Jeśli masz pytania, sugestie lub potrzebujesz dodatkowych informacji odnośnie do naszej platformy, skontaktuj się z nami. Twój głos jest dla nas bardzo ważny, dlatego chcemy słuchać Twoich opinii i pomysłów na temat tego, jak uczynić naszą galerię sztuki jeszcze bardziej dostępną dla wszystkich.
            </p>
            <div class="row ml-0 card-about-us">
                <div class="col-lg-4 col-md-12 mb-3 px-1">
                    <div class="card d-flex flex-column ml-0 mt-3 h-100">
                        <div class="card-body">
                            <h5 class="card-title text-dark">Email:</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <span class="flex-grow-1">info@example.com<br>&nbsp;</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 mb-3 px-1">
                    <div class="card d-flex flex-column ml-0 mt-3 h-100">
                        <div class="card-body">
                            <h5 class="card-title text-dark">Telefon:</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <span class="flex-grow-1">+1234567890<br>&nbsp;</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 mb-3 px-1">
                    <div class="card d-flex flex-column ml-0 mt-3 px-0 h-100">
                        <div class="card-body">
                            <h5 class="card-title text-dark">Adres:</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <span class="flex-grow-1">ul. Magiczna 5<br>32-852, Opole</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <h2 class="mb-4 ml-3 mt-5">Nasze media społecznościowe</h2>
            <div class="card ml-0 card-about-us pt-0">
                <div class="card-body">
                    <div class="mt-2">
                        <h5 class="card-title text-dark">Zaobserwuj nas:</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><a href="#" class="text-decoration-none">Facebook</a></li>
                            <li class="list-group-item"><a href="#" class="text-decoration-none">Instagram</a></li>
                            <li class="list-group-item"><a href="#" class="text-decoration-none">Twitter</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
