{% extends 'base.twig' %}

{% block title %}
    Contact Us
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center">
        <div class="container-about-us p-4 rounded" style="width: 100vw; max-width: 80vw; min-height: 77vh">
            <h1 class="ml-5 pt-3 mt-0 mb-4">Kontakt</h1>
            <h2 class="mb-2 ml-3">Skontaktuj się z nami</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec justo eu nulla vehicula vehicula et id elit. Fusce eget eleifend mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec justo eu nulla vehicula vehicula et id elit. Fusce eget eleifend mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec justo eu nulla vehicula vehicula et id elit. Fusce eget eleifend mi.</p>
            <div class="card ml-0 card-about-us">
                <div class="card-body">
                    <div class="mt-2">
                        <h5 class="card-title">Dane kontaktowe:</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between align-items-center">
                                    <span>Email:</span>
                                    <span>info@example.com</span>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between align-items-center">
                                    <span>Telefon:</span>
                                    <span>+1234567890</span>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between align-items-center">
                                    <span>Adres:</span>
                                    <span>ul. Magiczna 5<br>32-852, Opole</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <h2 class="mb-2 ml-3 mt-4">Nasze media społecznościowe</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec justo eu nulla vehicula vehicula et id elit. Fusce eget eleifend mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec justo eu nulla vehicula vehicula et id elit. Fusce eget eleifend mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec justo eu nulla vehicula vehicula et id elit. Fusce eget eleifend mi.</p>
            <div class="card ml-0 card-about-us">
                <div class="card-body">
                    <div class="mt-2">
                        <h5 class="card-title">Znajdź nas na:</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a href="#">Facebook</a>
                            </li>
                            <li class="list-group-item">
                                <a href="#">Instagram</a>
                            </li>
                            <li class="list-group-item">
                                <a href="#">Twitter</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
