{% extends 'admin_base.twig' %}

{% block title %}
    Edit Genre
{% endblock %}

{% block content %}
    <h1>Edit Genre</h1>
    <form action="edit_genre.php" method="post">
        <input type="hidden" name="id" value="{{ genre.id }}">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ genre.name }}" required>
        <button type="submit">Edit Genre</button>
    </form>
{% endblock %}
