{% extends 'admin_base.twig' %}

{% block title %}
    Genres List
{% endblock %}

{% block content %}
    <h1 class="mb-4 mt-4 pt-5 ml-3 pl-4">Lista kategorii</h1>
    <div class="add-artwork ml-3 mb-2 mr-3">
        <a href="add_genre.php"><button class="btn btn-primary add-artwork-button">Dodaj kategorię</button></a>
    </div>
    <div class="container-search ml-3 mr-3">
        <div class="genres-table">
            <table class="table table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Nazwa</th>
                    <th>Akcje</th>
                </tr>
                </thead>
                <tbody>
                {% for genre in genres %}
                    <tr>
                        <td>{{ genre.id }}</td>
                        <td>{{ genre.name }}</td>
                        <td>
                            <a href="edit_genre.php?id={{ genre.id }}" class="btn btn-outline-success btn-md">Edytuj</a>
                            <form action="delete_genre.php" method="post" style="display: inline-block;">
                                <input type="hidden" name="id" value="{{ genre.id }}">
                                <button type="submit" class="btn btn-outline-danger btn-md">Usuń</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
