{% extends 'base_admin.twig' %}

{% block title %}
    Internetowa Galeria Sztuki - Edytuj Kategorię
{% endblock %}

{% block content %}
    <div class="container container-edit mt-5 pl-5 pr-5">
        <div class="mx-0">
            <div class="breadcrumb my-breadcrumb pt-3 px-0">
                <a class="my-a me-3 mx-3" href="genres_admin.php">Lista kategorii</a><span>></span><div class="ml-3"> Edytuj kategorię</div>
            </div>
        </div>
        <h1 class="mb-4 mt-4 ml-3 pl-4">Edytuj kategorię</h1>

        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}
        <form action="genre_edit.php" method="post">
            <input type="hidden" name="id" value="{{ genre.id }}">
            <div class="form-group">
                <label for="name">Nazwa:</label>
                <input type="text" class="form-control" id="name" name="name" value="{{ genre.name }}" required>
            </div>
            <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
        </form>
    </div>
{% endblock %}
