{% extends 'base.twig' %}

{% block title %}Artworks Gallery{% endblock %}

{% block content %}
    <div class="gallery-container">
        <header class="gallery-header">
            <h1>Internetowa Galeria Sztuki</h1>
            <p>Odkrywaj twórczość z całego świata.</p>
        </header>
        <div class="gallery-index">
            <ul>
                <li>
                    <form action="gallery.php" method="get">
                        <input class="gallery-input" type="text" name="searchTerm" placeholder="Wpisz tytuł dzieła lub artystę">
                        <button class="gallery-button" type="submit">Szukaj</button>
                    </form>
                </li>
                <li>
                    <a class="gallery-link" href="gallery.php">Przeglądaj dzieła</a>
                </li>
                <li>
                    <a class="gallery-link" href="single_artwork.php?id=random">Losuj dzieło</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
