{% extends 'base.twig' %}

{% block title %}Artworks Gallery{% endblock %}

{% block content %}
    <div class="gallery-container">
        <header class="gallery-header text-center">
            <h1>Internetowa Galeria Sztuki</h1>
            <p class="mb-5">Odkrywaj twórczość z całego świata.</p>
        </header>
        <div class="gallery-index mx-auto my-auto col-lg-5 col-md-7 col-sm-9">
            <ul class="list-unstyled">
                <li class="d-flex align-items-stretch">
                    <form class="d-flex flex-fill" action="artworks.php" method="get">
                        <input class="form-control gallery-input mr-2 py-4" type="text" placeholder="Wpisz tytuł dzieła lub artystę">
                        <button class="btn btn-primary gallery-button px-4 py-3" type="submit">Szukaj</button>
                    </form>
                </li>
                <li>
                    <a class="btn btn-block gallery-link my-2 py-3" href="artworks.php">Przeglądaj dzieła</a>
                </li>
                <li>
                    <a class="btn btn-block gallery-link py-3" href="single_artwork.php?id=random">Losuj dzieło</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
